.try-container {
    height:200px;
    background-image:url("bookride2.jpg");
    background-repeat: none;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.try {
    color:#fff;
    font-family: 'Belanosima', sans-serif;
    border: 2px solid #fff;
    width:140px;
    border-radius:32px;
    cursor:pointer;
    background-color: black;
    text-align: center;
    padding:12px 15px;
}

.try:hover {
    box-shadow:1px 1px 10px 1px #fff;
}
